## Stats package
importFrom("stats", "na.omit", "var")

## Using C API code for mine computation throuth mine_interfaces.c
useDynLib(minerva, .registration=TRUE)

## Export only the needed functions
export(mine)

import(parallel)
